@import "menu.css";
@import "info.css";
@import "footer.css";
@import "cards-en.css";
@import "cards-th.css";

body {
  background-image: url("../images/darkness.png");
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 30px 100px 400px 400px 30px;
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  grid-template-areas:
  "hd hd hd hd hd hd"
  "info info info info info info"
  "blog-1 blog-1"
  "blog-2 blog-2"
  "blog-3 blog-3"
  "blog-4 blog-4"
  "footer footer footer footer footer footer"
}

/* Using this box is extremely helpful. It made seeing my grid a lot easier
.box {
  border: 1px solid red;
  background: #F8FA9D;
}*/
/* row start/column start/ row end/ column end */
.header {
  display: inline-block;
  grid-area: 1 / 1 / 2 / 6;
}

.info {
  grid-area: 2 / 1 / 3 / 6;
}

.blog-1 {
  grid-area: 3 / 2 / 4 / 4;
  margin-bottom: 10px;
  background-color: #fff9c4;
}

.blog-2 {
  grid-area: 3 / 4 / 4 / 6;
  margin-bottom: 10px;
  background-color: #fff9c4;
}

.blog-3 {
  grid-area: 4 / 2 / 5 / 4;
  background-color: #fff9c4;
}

.blog-4 {
  grid-area: 4 / 4 / 5 / 6;
  background-color: #fff9c4;
}

.footer {
  grid-area: 6 / 1 / 7 / 7;
}

@media screen and (max-width: 992px){
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px 100px 400px 400px 30px;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    grid-template-areas:
    "hd hd hd hd hd hd"
    "info info info info info info"
    "blog-1 blog-1"
    "blog-2 blog-2"
    "blog-3 blog-3"
    "blog-4 blog-4"
    "footer footer footer footer footer footer"
  }

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px 100px 400px 400px 30px;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    grid-template-areas:
    "hd hd hd hd"
    "info info"
    "blog-1 blog-2"
    "blog-3 blog-4"
    "footer footer footer footer"
  }
