@import "menu.css";
@import "info.css";
@import "footer.css";

body {
	background-image: url("../images/bubble.png");
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30px 100px 300px 300px 30px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.box {
  border: 1px solid red;
  background: #F8FA9D;
}

.header {
  display: inline-block;
  grid-area: 1 / 1 / 2 / 7;
}

.info {
  grid-area: 2 / 1 / 3 / 7;
}

.blog-1 {
  grid-area: 3 / 3 / 4 / 4;
}

.blog-2 {
  grid-area: 3 / 4 / 4 / 5;
}

.blog-3 {
  grid-area: 4 / 3 / 5 / 4;
}

.blog-4 {
  grid-area: 4 / 4 / 5 / 5;
}

.footer {
  grid-area: 6 / 1 / 7 / 7;
}
