.blog-info {
  display: flex;
  font-size: 32px;
  font-style: italic;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Aclonica', sans-serif;
}

.blog-info-th {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Aclonica', sans-serif;
font-family: 'Pridi', serif;
}

.bgimage {
  background-image: url(../images/bkk-bg2.jpg);
  background-size: cover;
}
